---
import BaseLayout from "../layouts/BaseLayout.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import ExperienceItemDetails from "../components/ExperienceItemDetails.astro";
import Button from "../components/Button.astro";
import PageHeader from "../components/PageHeader.astro";
const title = "Experience";
import { getCollection } from "astro:content";
const experienceData = await getCollection("experience");
---

<BaseLayout pageTitle={title}>
  <PageHeader heading={title}>
    Learn about where I’ve worked and what I’ve worked on
  </PageHeader>
  <div class="button-wrapper">
    <Button icon="download">Download CV</Button>
    <Button
      icon="link"
      as="a"
      href="https://www.linkedin.com/in/hans-sandberg/"
    >
      Visit LinkedIn Profile
    </Button>
  </div>
  {
    experienceData.map((experienceItem: any) => (
      <ExperienceItem
        title={experienceItem.data.title}
        org={experienceItem.data.org}
        orgLink={experienceItem.data.orgLink}
        location={`${experienceItem.data.city}, ${experienceItem.data.country}`}
        dateStart={experienceItem.data.dateStart}
        dateEnd={experienceItem.data.dateEnd}
      >
        <ExperienceItemDetails>
          {experienceItem.data.details.map((detail: string) => (
            <li>{detail}</li>
          ))}
        </ExperienceItemDetails>
      </ExperienceItem>
    ))
  }
</BaseLayout>

<style>
  .button-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
    gap: var(--space-s);
    margin-block-end: var(--space-xl);
  }
</style>
