---
import "../styles/global.css";
import ExperienceDisclosure from "./ExperienceDisclosure.astro";
import Paragraph from "./Paragraph.astro";

interface Props {
  title: string;
  org: string;
  orgLink: string;
  location: string;
  duration: string;
  dateRange: string;
}

const { title, org, orgLink, location, duration, dateRange } = Astro.props;

const DisclosureLabel: string = `Details about ${title} position at ${org}`;
---

<div class="container">
  <article>
    <div class="what">
      <h2 id="title">{title}</h2>
    </div>
    <div class="where">
      <Paragraph color="loud">
        <a href=`${orgLink}`>{org}</a>
      </Paragraph>
      <Paragraph color="subtle">{location}</Paragraph>
    </div>
    <div class="when">
      <Paragraph color="loud">{duration}</Paragraph>
      <Paragraph color="subtle">{dateRange}</Paragraph>
    </div>
    <ExperienceDisclosure label={DisclosureLabel}>
      <slot />
    </ExperienceDisclosure>
  </article>
</div>

<style lang="scss">
  :global(.container) {
    container: my-container / inline-size;
  }

  article {
    --flow-space: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    border-block-end: 1px solid var(--color-border-subtle);
    padding-block-start: var(--space-m);
  }

  #title {
    color: var(--color-content-loud);
    font-size: var(--step-0);
    font-weight: var(--font-weight-bold);
  }

  .where,
  .when {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-m);
  }

  @container my-container (min-width: 50ch) {
    article {
      display: grid;
      grid-template-columns: repeat(3, 1fr) auto;
      gap: var(--space-m) var(--space-xl);
    }

    .where,
    .when {
      display: flex;
      flex-direction: column;
      justify-content: revert;
      gap: var(--space-3xs);
    }

    :global(.details) {
      grid-column: 2 / -1;
    }
  }
</style>
