---
import ExperienceDisclosure from "./ExperienceItemDisclosure.astro";

interface Props {
  title: string;
  org: string;
  orgLink: string;
  location: string;
  dateStart: Date;
  dateEnd: Date | string;
}

const { title, org, orgLink, location, dateStart, dateEnd } = Astro.props;

const DisclosureLabel: string = `Details about ${title} position at ${org}`;

function formatDate(date: Date | string): string {
  if (typeof date === "string") return date;

  return new Intl.DateTimeFormat("en-US", {
    month: "short",
    year: "numeric",
  }).format(date);
}

const dateStartFormatted = formatDate(dateStart);
const dateEndFormatted = formatDate(dateEnd);

function calculateDuration(
  startDate: Date,
  endDate: Date | string,
): { years: number; months: number } {
  const end = typeof endDate === "string" ? new Date() : endDate;

  const yearsDifference = end.getFullYear() - startDate.getFullYear();
  const monthsDifference = end.getMonth() - startDate.getMonth();

  const monthsTotal = yearsDifference * 12 + monthsDifference + 1;

  const years = Math.trunc(monthsTotal / 12);
  const months = monthsTotal % 12;

  return {
    years: years,
    months: months,
  };
}

const duration = calculateDuration(dateStart, dateEnd);

const formatDuration = (duration: number, unit: string) =>
  // If the duration is zero, return an empty string. Otherwise, append the duration unit and pluralise if necessary.
  duration ? `${duration} ${unit}${duration > 1 ? "s" : ""}` : "";

const yearsFormatted = formatDuration(duration.years, "year");
const monthsFormatted = formatDuration(duration.months, "month");

const yearsMonthsSeparator = duration.years && duration.months ? ", " : "";
---

<article>
  <h2 class="title">{title}</h2>
  <div class="where">
    <p><a href=`${orgLink}`>{org}</a></p>
    <p class="where__location">{location}</p>
  </div>
  <div class="when">
    <p>{`${yearsFormatted}${yearsMonthsSeparator} ${monthsFormatted}`}</p>
    <p class="when__dates">{`${dateStartFormatted} – ${dateEndFormatted}`}</p>
  </div>
  <ExperienceDisclosure label={DisclosureLabel}>
    <slot />
  </ExperienceDisclosure>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }
  .where,
  .when {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-2xs);
  }

  .where__location,
  .when__dates {
    color: var(--color-content-quiet);
  }
</style>
