---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlockLink from "../../components/BlockLink.astro";
import BlockLinkList from "../../layouts/BlockLinkList.astro";
import PageHeader from "../../components/PageHeader.astro";
import { getCollection } from "astro:content";
const title = "Portfolio";
const caseStudies = await getCollection("caseStudies");
---

<BaseLayout pageTitle={title}>
  <PageHeader heading={title}>
    Get a feel for how I tackle design challenges
  </PageHeader>
  <BlockLinkList>
    {
      caseStudies
        .sort((a, b) => a.data.order - b.data.order)
        .map((caseStudy) => (
          <li>
            <BlockLink
              title={caseStudy.data.title}
              subTitle={caseStudy.data.description}
              url={`/portfolio/${caseStudy.data.slug}`}
            />
          </li>
        ))
    }
  </BlockLinkList>
</BaseLayout>
